html
{
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

body
{
    background-color: #fff;
    border-top: solid 10px #000;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI" , Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

a:link, a:visited, a:active, a:hover
{
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

a:hover
{
   
}

header, footer, hgroup, nav, section
{
    display: block;
}

.float-left
{
    float: left;
}

.float-right
{
    float: right;
}

.highlight
{
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.clear-fix:after
{
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3, h4, h5, h6
{
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1
{
    font-size: 2em;
}

h2
{
    font-size: 1.75em;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}


/* main layout
----------------------------------------------------------*/
.content-wrapper
{
    margin: 0 auto;
    max-width: 960px;
}

#body
{
    background-color: #ffffff;
    clear: both;
    padding-bottom: 35px;
}

footer
{
    clear: both;
    background-color: #e2e2e2;
    font-size: .8em;
    height: 100px;
}



/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px)
{

    /* header
                        ----------------------------------------------------------*/
    header .float-left, header .float-right
    {
        float: none;
    }

    /* logo */
    header .site-title
    {
        margin: 10px;
        text-align: center;
    }

    /* login */
    #login
    {
        font-size: .85em;
        margin: 0 0 12px;
        text-align: center;
    }

    #login ul
    {
        margin: 5px 0;
        padding: 0;
    }

    #login li
    {
        display: inline;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    #login a
    {
        background: none;
        color: #999;
        font-weight: 600;
        margin: 2px;
        padding: 0;
    }

    #login a:hover
    {
        color: #333;
    }

    /* menu */
    nav
    {
        margin-bottom: 5px;
    }

    ul#menu
    {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    ul#menu li
    {
        margin: 0;
        padding: 0;
    }


    /* main layout
                        ----------------------------------------------------------*/
    .main-content, .featured + .main-content
    {
        background-position: 10px 0;
    }

    .content-wrapper
    {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper
    {
        padding: 10px;
    }

    /* page content */
    article, aside
    {
        float: none;
        width: 100%;
    }

    /* ordered list */
    ol.round
    {
        list-style-type: none;
        padding-left: 0;
    }

    ol.round li
    {
        padding-left: 10px;
        margin: 25px 0;
    }

    ol.round li.one, ol.round li.two, ol.round li.three
    {
        background: none;
    }

    /* features */
    section.feature
    {
        float: none;
        padding: 10px;
        width: auto;
    }

    section.feature img
    {
        color: #999;
        content: attr(alt);
        font-size: 1.5em;
        font-weight: 600;
    }

    /* forms */
    fieldset input[type="text"], fieldset input[type="password"]
    {
        width: 90%;
    }

    /* login page */
    #loginForm
    {
        border-right: none;
        float: none;
        width: auto;
    }

    #loginForm .validation-error
    {
        display: block;
        margin-left: 15px;
    }

    #socialLoginForm
    {
        margin-left: 0;
        float: none;
        width: auto;
    }

    /* footer
                        ----------------------------------------------------------*/
    footer .float-left, footer .float-right
    {
        float: none;
    }

    footer
    {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

    footer p
    {
        margin: 0;
    }

    ul#social
    {
        padding: 0;
        margin: 0;
    }

    a.facebook, a.twitter
    {
        background: none;
        display: inline;
        float: none;
        height: auto;
        padding-left: 0;
        text-indent: 0;
        width: auto;
    }
}




.timeline
{
    margin-left: 100px;
    border-left: 3px solid #cbcbcb;
}


.chat-bubble
{
    background-color: #fff;
    border: 1px solid #666666;
    font-size: 1em;
    line-height: 1.3em;
    margin: 8px;
    padding: 10px;
    position: relative;
    text-align: justify;
    width: 300px;
    height: 80px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 0 5px #888888;
    -webkit-box-shadow: 0 0 5px #888888;
    background: url(http://www.aboriginalbusinessmatch.com/images/socialimages/twitter-icon.png) no-repeat;
    background-position: right bottom;
    background-size: 50px 50px;
}
.chat-bubble-arrow-border
{
    border-color: transparent #666666 transparent transparent;
    border-style: solid;
    border-width: 10px;
    height: 0;
    width: 0;
    position: absolute;
    top: 20px;
    left: -20px;
}
.chat-bubble-arrow
{
    border-color: transparent #fff transparent transparent;
    border-style: solid;
    border-width: 10px;
    height: 0;
    width: 0;
    position: absolute;
    top: 20px;
    left: -18px;
}

.date
{
    width: 80px;
    font-size: .8em;
    position: absolute;
    top: 13px;
    left: -95px;
    text-align: right;
    display: block;
}


.time
{
    width: 80px;
    font-size: .8em;
    position: absolute;
    top: 28px;
    left: -95px;
    text-align: right;
    display: block;
}


#sidebar
{
    position: relative;
}
#sidebar-scroll
{
    position: absolute;
}
#sidebar-scroll.fixed
{
    position: fixed;
    top: 10px;
}
#sidebar, #sidebar-scroll
{
    width: 315px;
    float: left;
    z-index: 999;
}


.twitter
{
    border-bottom: #cbcbcb 1px solid;
    border-right: #cbcbcb 1px solid;
    background-color: #9AE4E8;
    
    padding: 4px;
    margin-bottom: 4px;
    color: #fff;
    display: block;
    cursor: pointer;
}


.linkedin
{
    border-bottom: #cbcbcb 1px solid;
    border-right: #cbcbcb 1px solid;
    background-color: #0F58FF;
    margin-left: 180px;
    padding: 4px;
    margin-bottom: 4px;
    color: #fff;
    display: block;
    cursor: pointer;
}


.nofilter
{
       border-bottom: #cbcbcb 1px solid;
    border-right: #cbcbcb 1px solid;
    padding: 4px;
    margin-bottom: 4px;
    display: block;
    cursor: pointer;
    color: #000;
    background-color: #fff;
}
